.navbar {
    background-color: #023781;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links li a:hover {
    color: #f0a500;
  }
  
  /* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #023781;
    padding: 10px;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  .logo-img{
    height: 50px;  /* Adjust as necessary */
    width: auto;  /* Maintain aspect ratio */
  }
  
  /* Styling the list */
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  /* Button Styling */
  .nav-button {
    background-color: #2f71a0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  /* Hover effect on buttons */
  .nav-button:hover {
    background-color: #555;
    color: #fff;
    transform: scale(1.05); /* Optional, for a slight scaling effect */
  }
  