@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://img.freepik.com/premium-vector/health-care-science-icon-pattern-medical-innovation-concept-background-vector-designx9_258787-6409.jpg?w=1380');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top;
  background-attachment: scroll; 
  margin: 0; 
  height: 100vh; 
}

